/* Makes sizing widths and heights easier */
*, *::before, *::after {
		box-sizing: border-box;
}
/* Makes sizing widths and heights easier */
/* body { */
/* 		margin: 0; */
/* } */

.card-container {
		display: flex;
		flex-direction: column;
		gap: 1rem;
		align-items: flex-start;
}

.card {
		background: white;
		border: 1px solid black;
		border-radius: .25rem;
		padding: 5rem;
		transform: translateX(100px);
		opacity: 0;
		transition: 150ms;
}

.card.show {
		transform: translateX(0);
		opacity: 1;
}
